<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2</string>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>NSMainStoryboardFile</key>
    <string></string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSDesktopFolderUsageDescription</key>
    <string>My Search Buddy needs access to your Desktop folder to index and search your files.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>My Search Buddy needs access to your Documents folder to index and search your files.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>My Search Buddy needs access to your Downloads folder to index and search your files.</string>
    <key>NSRemovableVolumesUsageDescription</key>
    <string>My Search Buddy needs access to external drives to index and search your files.</string>
    <key>NSNetworkVolumesUsageDescription</key>
    <string>My Search Buddy needs access to network drives to index and search your files.</string>
</dict>
</plist>
